<div class="container">
    <div class="row flex justify-center">
        <div class="m-3">
            <a routerLink="/postform">
                <button class="px-8 py-2 rounded-full bg-green-600 text-blue-50 max-w-max shadow-sm hover:shadow-lg">
                Añadir publicación
                </button>
            </a>
        </div>
        <div class="m-3">
            <a routerLink="/hobbyForm">
                <button class="px-8 py-2 rounded-full bg-green-600 text-blue-50 max-w-max shadow-sm hover:shadow-lg">
                    Añadir hobby
                </button>
            </a>
        </div>
    </div>
</div>
