<header id="home">
  <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex">
        <a routerLink="/">
          <img class="logo" src="assets/images/koalagram-logo.svg" alt="logo koalagram">
        </a>

      </div>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <!-- <img src="assets/images/Group2.svg" alt="group2"> -->
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </button>
          </li>
          <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
          <li class="nav-item">
            <a class="nav-link" href="#home">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#app">Sobre la app</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#we">Equipo</a>
          </li>
            <li class="nav-item  pl-4 pl-lg-3">
              <button  class="btn btn-info btn-violet" routerLink="/signup" data-toggle="modal" data-target="#exampleModal">Empezar</button>
            </li>
            <li class="nav-item pl-4 pl-lg-3">
              <button  class="btn btn-info" routerLink="/login" data-toggle="modal" data-target="#exampleModal2">Login</button>
            </li>
          </ng-container>
          <ng-template #loggedIn>
          <li class="nav-item pl-4 pl-lg-3">
            <a routerLink="/postform">
              <div class="profile mr-4">
                <div>
                  <button><fa-icon [icon]="faHome" size="lg"></fa-icon></button>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item pl-4 pl-lg-3">
            <a routerLink="/postform">
              <div class="profile mr-4">
                <div>
                  <button><fa-icon [icon]="faSearch" size="lg"></fa-icon></button>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item pl-4 pl-lg-3">
            <a routerLink="/postform">
              <div class="profile mr-4">
                <div>
                  <button><fa-icon [icon]="faPlusCircle" size="lg"></fa-icon></button>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item pl-4 pl-lg-3">
            <a routerLink="/posts">
              <div class="profile mr-4">
                <div>
                  <p>MisPost</p>
                  <!--<img src="../../../assets/images/user.png" alt="user">-->
                </div>
                <!-- <div>
                  <p>Usuario</p>
                </div> -->
              </div>
            </a>
          </li>
          <!--<li class="nav-item pl-4 pl-lg-3">
            <a routerLink="/allposts">
              <div class="profile mr-4">
                <div>
                  <p>Todos los post</p>
                  <img src="../../../assets/images/user.png" alt="user">
                </div>
                 <div>
                  <p>Usuario</p>
                </div> 
              </div>
            </a>
          </li>-->
          <li class="nav-item pl-4 pl-lg-3">
            <a routerLink="/profile">
              <div class="profile mr-4">
                <div>
                  <fa-icon [icon]="faUser" size="lg"></fa-icon>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="nav-item ml-3" (click)="authService.logout()">Cerrar sesion</a></li>
        </ng-template>
        </ul>
      </div>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    </div>
  </nav>
</header>
