 <form class="custom-form" method="post">
    <div>
        <div class="divInput">
            <input 
            type="text" 
            [(ngModel)]="post.title" 
            class="inputtext" 
            name="title" 
            id="title" 
            placeholder="Titulo del post" 
            autofocus="1" 
            aria-label="Titulo del post" 
            required="required"
            />
        </div>

        <div class="divInput">
            <input
            type="text"
            [(ngModel)]="post.text"
            class="inputtext"
            name="text"
            placeholder="Texto del post"
            required="required"
            />
       
        <div class="divBoton">    
            <button type="submit" class="botonLogin" (click)="newPost()" data-dismiss="modal" aria-label="Close">Entrar</button>
        </div>