<!-- <form class="custom-form" method="post">
    <div>
        <div class="divInput">
            <input 
            type="email" 
            [(ngModel)]="" 
            class="inputtext" 
            name="email" 
            id="email" 
            data-testid="royal_email" 
            placeholder="Correo electrónico" 
            autofocus="1" 
            aria-label="Correo electrónico" 
            required="required"
            />
        </div>

        <div class="divInput">
            <input
            type="password"
            [(ngModel)]=""
            class="inputtext"
            name="password"
            placeholder="Contraseña"
            required="required"
            />
        </div> -->
