
<app-header></app-header>


<div class="container" >
    <header>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </header>
    <div class="main">
      <div class="row">
        <div class="left col-lg-4">
          <div class="photo-left">
            <img class="photo" src="https://img2.freepng.es/20180327/zoe/kisspng-koala-computer-icons-clip-art-koala-5abb0823d88b90.025250621522206755887.jpg"/>
            <div class="active"></div>
          </div>
          <h4 class="name">{{currentUser.name}}</h4>
          <p class="info">nombre </p>
          <p class="info">email</p>
          <div class="stats row">
            <div class="stat col-xs-4">
              <p class="number-stat">0</p>
              <p class="desc-stat">Seguidores</p>
            </div>
            <div class="stat col-xs-4 mx-3">
              <p class="number-stat">0</p>
              <p class="desc-stat">Seguidos</p>
            </div>
            <div class="stat col-xs-4">
              <p class="number-stat">0</p>
              <p class="desc-stat">Publicaciones</p>
            </div>
    
          </div>
          <p class="desc">Hola! Esta es la descripción de mi perfil de koalagram.</p>
          <div class="social">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-pinterest-square" aria-hidden="true"></i>
            <i class="fa fa-tumblr-square" aria-hidden="true"></i>
          </div>
        </div>
        <div class="right col-lg-8">
          <ul class="nav">
            <li>Publicaciones</li>
            <!-- <li>Collections</li>
            <li>Groups</li>
            <li>About</li> -->
          </ul>
          <span class="follow">Editar</span>
          <div class="row gallery">
            <div class="col-md-4">
               <img src="https://images.pexels.com/photos/1036371/pexels-photo-1036371.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
            </div>
            <div class="col-md-4">
              <img src="https://images.pexels.com/photos/861034/pexels-photo-861034.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
            </div>
            <div class="col-md-4">
               <img src="https://images.pexels.com/photos/113338/pexels-photo-113338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
            </div>
            <div class="col-md-4">
               <img src="https://images.pexels.com/photos/5049/forest-trees-fog-foggy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
            </div>
            <div class="col-md-4">
              <img src="https://images.pexels.com/photos/428431/pexels-photo-428431.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
            </div>
            <div class="col-md-4">
              <img src="https://images.pexels.com/photos/50859/pexels-photo-50859.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  
  
  